<div class="topic-page">
	<div class="topic-header">
		<div class="topic-header-top">
			<h1 class="h1">{{topic.title}}</h1>
			<div class="right-parts">
				<div class="view-count">
					<div class="flex">
						<i class="material-icons">remove_red_eye</i>
						<div class="font-12">PV数</div>
					</div>
					<div class="font-24">{{topic.viewCount}}</div>
				</div>
				<div class="comment-count">
					<div class="flex">
						<i class="material-icons">chat_bubble_outline</i>
						<div class="font-12">コメント</div>
					</div>
					<div class="font-24">{{topic.commentCount}}</div>
				</div>
			</div>
		</div>
		<div class="topic-info-header">
			<div class="tags">
				{{#each topic.tags}}
					<div class="tag">{{this}}</div>
				{{/each }}
			</div>
			<div class="post-date">{{myDateFormat topic.postDate}}</div>
			{{#if isMyTopic}}
				<div class="command-container">
					<a class="button" href="/topic-edit/{{topic._id}}"><i class="material-icons">edit</i>編集</a>
				</div>
			{{/if}}
		</div>
	</div>
	<div class="content">
		<div class="markdown-container">
			{{{topic.bodyHtml}}}
		</div>
		{{#if topic.comments.length}}
			<div class="border" style="margin: 50px 0;"></div>
			<div class="comennts">
				<h2 class="h2 font-16">コメント一覧</h2>
				{{#each topic.comments}}
					<div class="comment-row">
						<div class="post-date">{{myDateFormat postDate}}</div>
						<div class="comment-body">{{body}}</div>
					</div>
				{{/each}}

			</div>
		{{/if}}
		<div class="border" style="margin: 50px 0;"></div>
		<form class="post-comment-container">
			<h2 class="h2 font-16" style="margin-bottom:10px;">コメントを投稿</h2>
			<input type="hidden" name="topic-id" value="{{topic._id}}">
			<textarea name="comment" rows="4" placeholder="コメントを入力" class="textarea"></textarea>
			<button class="button" type="submit"><i class="material-icons">edit</i>投稿</button>
		</form>
	</div>
</div>

<script src="/topic-app.js"></script>
